<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legacy</title>
    <meta name="desc" content="website edukasi sejarah dan budaya">
</head>
<body>
    <header>
        <div class="logo-header">

        </div>

        <div class="navbar">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">HISTORY</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">ABOUT US</a></li>
            </ul>
        </div>

        <div class="profile-header">
            <div class="profile-images">
                <img src="" alt="">
            </div>
        </div>
    </header>

    <main>
        <div class="hero-container">
            <h1>Lorem ipsum dolor simos facere deleniti temporibus. Deserunt nam  aperiam vero, ullam aspernatur sed </h1>
            <img src="" alt="">
            <h1>dfjkdsbfjbdsjfd</h1>
        </div>

        <div class="btn-read-now">
            <button></button>
        </div>

        <h1>Freshly Unveiled</h1>

        <div class="content" id="main-content">

        </div>
    </main>
</body>
</html>