<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo-icon-l.png">
    <title>Legacy</title>
    <meta name="desc" content="website edukasi sejarah dan budaya">
</head>
<body>
    <header id="header">
        
    </header>

    <main>

        <div class="form-container">
            <form class="upload-form">
                <input type="text" id="judul" placeholder="Masukkan Judul">
                <div id="konten"></div>
                <textarea placeholder="Konten..."></textarea>
                <input type="file">
                <button type="submit">Upload</button>
            </form>
        </div>

    </main>

    <footer id="footer">
    </footer>
</body>
</html>