@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F4F4F4;
}

.logo-header-con {
    width: 70px;
}

.logo-header {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 45px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 36px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.profile-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-images > img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* isi mainpage_admin*/
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.upload-form {
    width: 1500px; /* Set width to 100% */
    padding: 185px;
    box-sizing: border-box; /* Include padding and border in the width */
    text-align: center; /* Center align content */
}

.upload-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f4f4; /* Set background color */
    border: none; /* Remove border */
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the width */
    border-bottom: 1px solid #ccc; /* Add bottom border */
    font-size: 20px;
    text-align: left; /* Align content to the left */
    font-family: inherit; /* Inherit font-family from parent */
    font-weight: bold; /* Make text bold */
}

.upload-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f4f4; /* Set background color */
    border: none; /* Remove border */
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the width */
    border-bottom: 1px solid #ccc; /* Add bottom border */
    text-align: left; /* Align content to the left */
    font-family: inherit; /* Inherit font-family from parent */
}

.upload-form input[type="text"]::placeholder,
.upload-form textarea::placeholder {
    color: #999; /* Set placeholder color */
    font-size: 20px; /* Set font size for placeholder */
    font-weight: bold; /* Make placeholder text bold */
    font-family: inherit; /* Inherit font-family from parent */
}

.upload-form input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
}

.file-label {
    background-color: #00f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; /* Make button text bold */
    float: left; /* Float the label to the left */
    margin-right: 10px; /* Add margin to separate from textarea */
}

.upload-form button {
    width: auto; /* Set width to auto for default width */
    background-color: #00f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; /* Make button text bold */
    margin-top: 10px; /* Add margin to separate from the label */
    clear: both; /* Clear float to prevent overlapping */
}


/* isi mainpage_admin */

footer {
    background-color: #0600E5;
    color: white;
    padding: 50px 80px;
    margin-top: 60px;

}

.footer-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-top-right > p {
    text-align: right;
}

.footer-top-left > p {
    font-size: 14px;
    font-weight: 400;
}

.footer-top-right > p > a {
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration: underline;
    font-weight: 700;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

}

.footer-bottom-left > .nav-list > .nav-item > a {
    color: white;
} 

