@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F4F4F4;
}

.logo-header-con {
    width: 70px;
}

.logo-header {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 45px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 36px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.profile-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-images > img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* isi faq_page */

.accordion {
    width: 870px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
}

.accordion-item {
    padding: 10px 0;
    position: relative;
}

.accordion-header {
    padding: 15px;
    cursor: pointer;
    background-color: #f8f4f4;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.accordion-header:hover {
    background-color: #f8f4f4;
}

.accordion-content {
    padding: 0 15px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #f8f4f4;
    margin: 5px 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out, margin-left 0.3s ease-out, border-left 0.3s ease-out;
    border-left: 5px solid transparent; /* Initially transparent */
    opacity: 0.5; /* More faded content */
}

.accordion-content.open {
    max-height: 500px; /* Adjust based on content */
    opacity: 0.5; /* More faded content */
    padding: 15px;
    margin-left: 40px; /* Increased indentation when open */
    border-left: 5px solid rgba(0, 0, 255, 0.5); /* More faded blue vertical line */
}

.plus-icon {
    font-size: 24px;
    color: #00f;
    transition: transform 0.3s;
    margin-right: 10px;
}

.plus-icon.rotate {
    transform: rotate(45deg);
}

.accordion-item:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

/* isi faq_page */

footer {
    background-color: #0600E5;
    color: white;
    padding: 50px 80px;
    margin-top: 60px;

}

.footer-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-top-right > p {
    text-align: right;
}

.footer-top-left > p {
    font-size: 14px;
    font-weight: 400;
}

.footer-top-right > p > a {
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration: underline;
    font-weight: 700;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

}

.footer-bottom-left > .nav-list > .nav-item > a {
    color: white;
} 

